@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #054217, #0e3911);
    color: #ffffff;
    text-shadow: 1px 1px 2px;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 5px 5px;
    padding: 2vw;
    flex-direction: column;
}

.number-text {
    font-size: 3vw;
}

.countdown-timer span {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 5vw;
}

.timer-boxes {
    flex-direction: column;
    margin: 5px;
}

.colon {
    align-self: flex-start;
}

.countdown-timer {
    display: flex;
    align-self: flex-start;
}