@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.countdown-timer {
    padding: 2vw;
    border: 2px solid #000;

    font-family: "Oswald";
    font-size: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer span {
    margin-left: 10px;
    margin-right: 10px;
}